@charset "UTF-8";

body{margin: 0}
/*h1,h2,h3,h4,h5,h6{font-weight: 100}*/

.container{width: 1080px;margin: 0 auto}

.my-flex-wrap{display: -webkit-flex;display: -webkit-box;display: -ms-flexbox;display: flex;}
.my-flex-item{flex: 1 1 auto;flex-flow: row nowrap}

.my-header{width: 100%;background: #409EFF;height: 60px}
.my-header .header-list{margin: 0;padding: 0;list-style: none}
.my-header .header-list .header-list-item{margin: 0;padding: 0;line-height: 60px;width: 10%}
.my-header .header-list .header-list-item a{color: #fff;text-decoration: none}
.my-header .header-list .header-list-item a:hover{color: #fff;text-decoration: underline}

.my-content{text-align: left}
.my-content .my-side-list{list-style: none;margin: 0;padding: 0}
.my-content .my-side-list li{height: 34px;line-height: 34px;list-style: none;width: 200px}

.my-block{box-sizing: border-box;padding: 0 15px;margin-top: 30px;background: #fafafa;border-radius: 0 5px 0 5px ;border-top: 3px solid #409EFF;border-bottom: 1px solid #f1f1f1}

.space-line{width: 100%;height: 15px}

.block-code{}
.block-code code{font-size: 14px}
code.space2{padding-left: 15px}
code.space4{padding-left: 30px}
